@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-image {
  content: url("./images/logo.svg");
}

.hero-image {
  content: url("./images/hero-mobile.jpg");
}

.arrow-icon {
  content: url("./images/icon-arrow.svg");
}
